.faynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  transition: opacity 0.2s linear 0s;
}

.faynman__link:hover{
  opacity: 0.3;
}